{% load static %}

<!dOCTYpe html>
<html>
    <head>
        <title>01_index.html 페이지 입니다.</title>
    </head>
    <body>
        <nav>
            <a href="/frontend/index">Home</a>
            <a href="/frontend/blog">Blog</a>
            <a href="/frontend/about">About Me</a>
        </nav>

        <hr>

        <h1>첫번째 제목 크기</h1>
        <h2>두번째 제목 크기</h2>
        <h3>세번째 제목 크기</h3>
        <h4>네번째 제목 크기</h4>
        <h5>다섯번째 제목 크기</h5>

        <hr>

        <p>문단은 p태그를 이용하여 작성 합니다</p>

        <hr>

        <a href="https://www.google.com">Gogo google</a>
        <hr>
        <img src="{% static 'frontendapp/images/cat.jpg' %}" 
                width="500" height="300">

    </body>
</html>