{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>01_about_me.html 페이지 입니다</title>
        <style>
            nav {background-color: darkgreen; font-size: 150%;text-align:center}
            nav a{color: white;}
        </style>
    </head>
    <body>
        <nav>
            <a href="/frontend/index3" >Home</a>
            <a href="/frontend/blog3">Blog</a>
            <a href="/frontend/about3">About Me</a>
        </nav>

        <hr>
        <h1>About Me</h1>
        <h2>세종에 사는 홍길동 입니다</h2>

        <hr>
        <img src="{% static 'frontendapp/images/g.jpg' %}" width="100" height="100">

    </body>
</html>